<div class="container">
    <ul class="list-group mt-5">
        <li class="list-group-item bg-light">
            <h2>Top movies</h2>
        </li>

        <div class="pagination" *ngIf="movies">
            <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" [maxSize]="maxSize"
                [rotate]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
        </div>

        <li class="list-group-item" *ngFor="let movie of movies; let idx = index">
            <a [routerLink]="['/movies', movie.id]" style="text-decoration: none;">
                <div class="row">
                    <div class="col-6">
                        <div>{{idx + ((page - 1) * pageSize) + 1}}. {{movie.title}}</div>
                    </div>
                    <div class="col-6">
                        <div style="display: flex; justify-content: flex-end">Rating: {{movie.rating}} / 10 out of
                            {{movie.ratingCount}} user reviews</div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="pagination" *ngIf="movies">
        <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" [maxSize]="maxSize"
            [rotate]="true" (pageChange)="loadPage($event)">
        </ngb-pagination>
    </div>

    
</div>