<form>
  <div class="card">
    <div class="card-header">
      <h2>Custom search</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Title</label>
            <input #title type="text" class="form-control" id="title" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="rating">Rating at least</label>
            <input #rating type="text" class="form-control" id="rating">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="genre">Genre</label>
            <select #genre class="form-control" id="genre">
              <option></option>
              <option *ngFor="let genre of genres">{{genre.key}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="country">Country</label>
            <select #country class="form-control" id="country">
              <option></option>
              <option *ngFor="let country of countries">{{country.key}}</option>
            </select>
          </div>
        </div>
      </div>
      <div style="display:flex; justify-content:flex-end;">
        <button type="submit" class="btn btn-outline-secondary"
          (click)="submitButtonClicked(title.value, genre.value, country.value, rating.value)">Search</button>
      </div>

    </div>

  </div>
</form>

<div *ngIf="movies">
  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>